doctype html
html
    head
        title Desenvolvimento de Aplicações Web (aula7)
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/w3.css')
        script(src='jquery-3.3.1.min.js')
        script(src='cScript.js')
    body
        block content