doctype html
html
  head
    title myFacebook
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
    script(src='http://localhost:3000/javascripts/script.js')
  body
    block content
